/*@font-face {
    font-family: 'Orbitron';
    src: url(/public/fonts/Orbitron-Regular.ttf);
}*/

body {
    background-color: black;
}

.timeFont {
    margin-top: 50px;
    font-size: 13.5rem;
    letter-spacing: 8px;
    color: #17D4FE;
    font-family: 'Orbitron', Calibri;
}

.marquee {
    width: 100%;
    font-size: 3.5rem;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}

.marquee p {
    display: inline-block;
    color: white;
    font-style: italic;
    padding-left: 100%;
    animation: marquee 8s linear infinite reverse;
}

@keyframes marquee {
    0% {
        transform: translate(0, 10);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
